<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
              
                @Html.Action("GetListToDoItem", "Home")


            </div>
        </div>
        <div class="col-md-6">
            @Html.Action("ListItemDone", "Home")
        </div>
    </div>
</div>

@section scripts
{
    <script>
        require(["taskcontroller"],
            function (taskcontroller) {
                taskcontroller.initTask();
                taskcontroller.createTask();
                taskcontroller.markAllTaskDone();
                taskcontroller.markTaskDone();
                taskcontroller.deleteTask();
            }
        );
    </script>
}
