@model TODOLIST.ViewModels.ListTodoItemViewModel

<ul id="sortable" class="list-unstyled">

    @foreach (var item in Model.Items)
    {
        <li data-position="@item.Order" data-id="@item.Id" class="ui-state-default">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""/>@item.Description
                </label>
            </div>
        </li>
    }
</ul>
<div class="todo-footer">
    <strong><span class="count-todos"></span></strong> Items Left
</div>